footer
  .container.text-center
    p.pull-left © 2018 Company, Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/manu183/InnovationHack2018') GitHub Project
      li
        a(href='https://github.com/manu183/InnovationHack2018/issues') Issues
